
.posImgLogoQS

  .posImgDerechaAbajo{
margin-top: -250px;
margin-left: 660px;

  }


  .txtQS {
    display: flex;
    margin-left: 40px;
    margin-top: 90px;
  
  }

  .posNavQS {

    margin-left: 100px;
    margin-top: 35px;
    
  }

  .posImgLogoQS {

    margin-left: 25px;
  }

  .posImg1QS {

    margin-top: 120px;
    margin-left: 90px;
    width: 650px;
  }

  .posImg2QS {

    margin-top: -250px;
    margin-left: 100px;
    width: 650px;

  }

  .posImg3QS {

    margin-top: 35px;
    margin-left: 900px;
    width: 650px;
  }