.btnTrans {

    position: relative;
    display: block;
    border-radius: 4px;
    text-transform: uppercase;
    color:#fff;
    font-size: 18px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #20e2d7;
    margin-bottom: 40px;
    z-index: 0;
    font-weight: 700;


}
